@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
    --dark: #212832;
    --dark-h: #181e4b;
    --light-text: #5e6282;
    --light-mini-text: #686d77;

    --red: #df6951;
    --orange: #f1a501;
}

* {
    transition: all 0.5s;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

body {
    font-family: "Poppins", sans-serif;
    position: relative;

    /* overflow-x: hidden; */
}

.body-decore {
    position: absolute;

    top: -60px;
    right: -0px;

    z-index: -5;
}

main {
    display: flex;
    flex-direction: column;

    gap: 150px;
}

section {
    position: relative;
}

a {
    text-decoration: none;
}

/* ! */
/* ! */
/* ! */
/* ! HEADER ! */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
}

.header-links ul li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s;
}

.header-links ul li a::after {
    content: "";

    width: 0%;
    height: 2px;

    border-radius: 10px;

    background-color: var(--dark);

    position: absolute;
    top: 18px;
    transition: all 0.5s;
}

.header-links ul li a:hover::after {
    content: "";

    width: 80%;
    height: 2px;

    border-radius: 10px;

    background-color: var(--dark);

    position: absolute;
    top: 20px;
}

.header-links ul li a:active::after {
    content: "";

    width: 80%;
    height: 2px;

    border-radius: 10px;

    background-color: var(--dark);

    position: absolute;
    top: 20px;
}

.header-links ul li a,
.header-auth a,
.header-language span {
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    font-weight: 600;

    font-weight: 18px;

    color: var(--dark);
}

.header-content {
    gap: 85px;
}

.header-links ul {
    gap: 60px;
}
.header-auth {
    gap: 40px;
}

.header-content,
.header-links ul,
.header-language,
.header-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#sign-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 9px 18px;

    border: 1px solid var(--dark);
    border-radius: 5px;
}

/* ! */
/* ! */
/* ! */
/* ! HERO ! */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-h-header {
    color: var(--red);

    font-size: 20px;

    font-family: "Poppins", sans-serif;

    font-weight: 700;

    text-transform: uppercase;
}

.hero-header {
    color: var(--dark);

    font-size: 84px;

    font-family: "Volkhov", sans-serif;

    font-weight: 700;

    width: 600px;

    margin: 25px 0;

    position: relative;
}

.hero-header::before {
    content: url("img/hero/Decore.svg");
    position: absolute;

    z-index: -4;

    top: 10px;
    left: 255px;
}

.hero-description {
    font-size: 16px;

    color: var(--light-text);

    line-height: 30px;

    width: 477px;
}

.hero-img {
    height: 700px;
}

.hero-down {
    display: flex;
    align-items: center;

    margin-top: 34px;
}

.hero-btn {
    font-size: 18px;
    font-family: "Roboto", sans-serif;

    padding: 18px 26px;

    border-radius: 10px;
    background-color: var(--orange);

    color: #fff;

    border: none;

    cursor: pointer;

    box-shadow: 0px 10px 25px #ffd0003b;
}

.hero-playbtn {
    width: 52px;
    height: 52px;

    margin-left: 45px;

    cursor: pointer;

    filter: drop-shadow(0px 10px 25px #ff000044);
}

.hero-down span {
    margin-left: 14px;

    font-size: 17px;
    color: var(--light-mini-text);
}

.hero-decore {
    position: absolute;

    top: 0;
    left: 0;
}

/* ! */
/* ! */
/* ! */
/* ! CATEGORY ! */

.section-header {
    font-size: 50px;

    font-family: "Volkhov", sans-serif;
    font-weight: 900;
}

.mini-header {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;

    color: var(--light-text);
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.services h2 {
    margin: 10px 0 68px 0;
}

.services-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    position: relative;

    padding: 40px 34px;

    border-radius: 36px;
    background-color: #fff;
}

.services-card:hover {
    box-shadow: 0px 20px 30px #00000010;
}
.services-card::after {
    content: url("img/services/decore2.svg");
    position: absolute;
    bottom: 0px;
    left: 0px;

    opacity: 0;

    z-index: -3;

    transition: all 0.5s;
}
.services-card:hover::after {
    bottom: -30px;
    left: -30px;

    opacity: 1;
}

.services-card h3 {
    width: 190px;

    font-weight: 500;
    font-size: 20px;
    font-family: "Roboto", sans-serif;

    margin-top: 30px;
    margin-bottom: 15px;

    color: var(--dark-h);
}
.services-card p {
    width: 180px;

    font-weight: 400;
    font-size: 16px;

    line-height: 26px;

    color: var(--light-text);
}

/* ! */
/* ! */
/* ! */
/* ! Top selling ! */

.tops {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tops-cards {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: start;

    gap: 60px;

    margin-top: 60px;

    position: relative;

    filter: drop-shadow(0px 20px 25px #00000010);
}

.tops-card {
    position: relative;
}

.tops-card:nth-child(3):after {
    content: url("img/top-selling/Decore.svg");
    position: absolute;
    right: -60px;
    bottom: 50px;
    z-index: -2;
}

.tops-card_info {
    position: absolute;
    bottom: 0px;

    width: calc(315px - (25px * 2));
    height: calc(130px - (28px * 2));

    background: #fff;

    border-radius: 0 0 24px 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 28px 25px;
}

.tops-card_info-left {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 18px;

    align-self: flex-start;
}

.tops-card-durability {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
}

.tops-card_price {
    align-self: flex-start;

    color: var(--light-text);
}

.tops-card-font {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;

    color: var(--light-text);
}

/* ! */
/* ! */
/* ! */
/* ! BOOKINGS ! */

.bookings {
    display: flex;
    align-items: center;
    justify-content: start;

    gap: 118px;
}

.bookings h2 {
    width: 511px;

    margin-top: 15px;
}

.bookings ul {
    margin-top: 45px;

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 52px;
}

.bookings-func {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 21px;
}
.bookings-func-icon {
    width: 22px;
    height: 22px;
    padding: 12px;

    border-radius: 13px;
}
#selection-icon {
    background: #f0bb1f;
}

#water-icon {
    background: #f15a2b;
}

#taxi-icon {
    background: #006380;
}

.bookings-func-descriptions {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 8px;
}

.bookings-func-descriptions-header {
    font-size: 16px;
    font-weight: 700;

    color: var(--light-text);
}

.bookings-func-descriptions-text {
    font-size: 16px;
    font-weight: 400;

    color: var(--light-text);

    width: 327px;
}

.bookings-cards {
    position: relative;
}
.booking-decore {
    position: absolute;

    z-index: -1;

    top: -175px;
    left: -100px;

    opacity: 0.8;
}

.booking-card {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 20px 25px 30px;

    background: #fff;

    box-shadow: 0px 10px 20px #00000010;
    border-radius: 26px;
}

.booking-card-info-header {
    font-size: 18px;
    font-weight: 500;

    margin-top: 26px;
    margin-bottom: 13px;
}

.booking-card-info-text {
    font-size: 16px;
    font-weight: 500;

    color: #84829a;
}

.booking-card-info-icons {
    display: flex;
    align-items: center;
    justify-content: start;

    gap: 18px;

    margin-top: 20px;
    margin-bottom: 30px;
}

.booking-card-info-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;
    background: #f5f5f5;
    border-radius: 20px;
}

.booking-card-info-peoples {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.booking-mini_card {
    display: flex;
    align-items: center;
    justify-content: start;

    padding: 18px 20px;
    background: #fff;

    box-shadow: 0px 10px 20px #00000010;

    border-radius: 18px;

    gap: 12px;

    position: absolute;

    bottom: 52px;
    right: -110px;
}

.booking-mini_card-info-status {
    font-size: 14px;
    color: var(--light-mini-text);
}
.booking-mini_card-info-header {
    font-size: 18px;
    font-weight: 500;

    margin-top: 6px;

    color: #080809;
}

.booking-mini_card-progress {
    margin-top: 14px;
}
.booking-mini_card-progress-text {
    font-size: 14px;
    color: #000;
    font-weight: 500;
}
.booking-mini_card-progress-text span {
    color: #8a79df;
}
.booking-mini_card-progress_bar {
    margin-top: 10px;

    width: 156px;
    height: 5px;
    background: #f5f5f5;
    border-radius: 10px;

    position: relative;
}
.booking-mini_card-progress_bar::before {
    content: "";

    width: 73px;
    height: 5px;
    background: #8a79df;

    border-radius: 10px;

    position: absolute;
}
